<?xml version="1.0"?>
<launch>
  <!-- <arg name="real_robot" default="true"/> -->
  <arg name="gripper_test" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="limited" default="false"/>
  <arg name="robot_ip" default="182.22.22.2" doc="IP address by which the robot can be reached."/>
  <arg name="kinematics_config" default="$(find turbo_description)/config/left_arm_calibration.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
  <arg name="robot_description" default="$(find turbo_description)/launch/load_ur5.launch" doc="Robot description launch file."/>

  <!-- ur5 driver -->
  <!-- Load robot URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '/home/samay/master_ws/src/UR5-ros-melodic/turbo/turbo_description/urdf/left_arm.urdf'"/>
  <group ns="left">    
    <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="limited" value="$(arg limited)"/>
      <arg name="robot_ip" value="$(arg robot_ip)"/>
      <arg name="tf_prefix" value="left"/>
      <arg name="kinematics_config" value="$(arg kinematics_config)"/>
      <arg name="robot_description_file" value="$(arg robot_description)"/>
      <arg name="controller_config_file" value="$(find ur_robot_driver)/config/ur5_left_controllers.yaml"/>    
      <arg name="reverse_port" value="50001"/>
      <arg name="script_sender_port" value="50002"/>
      <arg name="trajectory_port" value="50003"/>
      <arg name="script_command_port" value="50004"/>
    </include>
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[/left/gripper/joint_states, /left/joint_states]</rosparam>
  </node>

  <!-- Run the main MoveIt executable -->
  <include file="$(find turbo_left_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find turbo_left_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Planning Functionality -->
  <include ns="move_group" file="$(find turbo_left_moveit_config)/launch/planning_pipeline.launch.xml">
    <arg name="pipeline" value="ompl" />
  </include>

  <!--gripper driver -->
  <!-- <include file="$(find turbo_bringup)/launch/robotiq_85.launch">
    <arg name="gripper_test" value="$(arg gripper_test)"/>
    <arg name="comport" value="/dev/ttyUSB0"/>
  </include> -->


</launch>
