<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>
  <arg name="limited" default="false"/>
  <arg name="robot_description" default="$(find turbo_description)/launch/load_right.launch"/>
  <arg name="right_kinematics_config" value="$(find turbo_description)/config/right_arm_calibration.yaml"/>

  <!-- ur5 driver -->
  <!-- Load robot URDF -->  
  <include file="$(arg robot_description)">
    <arg name="joint_limit_params" value="$(find turbo_right_moveit_config)/config/joint_limits.yaml"/>
    <arg name="right_kinematics_params" value="$(arg right_kinematics_config)"/>
  </include>

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="limited" value="$(arg limited)"/>
    <arg name="robot_ip" value="172.22.22.2"/>
    <arg name="tf_prefix" value="right"/>
    <arg name="kinematics_config" value="$(arg right_kinematics_config)"/>  
    <arg name="controller_config_file" value="$(find turbo_right_moveit_config)/config/ros_controllers.yaml"/>    
    <arg name="reverse_port" value="50005"/>
    <arg name="script_sender_port" value="50006"/>
    <arg name="trajectory_port" value="50007"/>
    <arg name="script_command_port" value="50010"/>
  </include>
  
  <node name="right_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true">
    <rosparam param="source_list">[/gripper/joint_states, /joint_states]</rosparam>
    <param name="rate" value="50" />
  </node>

  <!-- Run the main MoveIt executable -->
  <include file="$(find turbo_right_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find turbo_right_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Planning Functionality -->
  <include ns="move_group" file="$(find turbo_right_moveit_config)/launch/planning_pipeline.launch.xml">
    <arg name="pipeline" value="ompl" />
  </include>

</launch>
