<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robot">

    
    <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
    <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
    <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
    <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="safety_limits" default="false" />
    <xacro:arg name="safety_pos_margin" default="0.15" />
    <xacro:arg name="safety_k_position" default="20" />

    <!-- <xacro:include filename="$(find turbo_description)/urdf/inc/ur5_macro.xacro" pass_all_args="true"/> -->

    <xacro:ur5_robot
        prefix=""
        joint_limits_parameters_file="${joint_limits_parameters_file}"
        kinematics_parameters_file="${kinematics_parameters_file}"
        physical_parameters_file="${physical_parameters_file}"
        visual_parameters_file="${visual_parameters_file}"
        transmission_hw_interface="${transmission_hw_interface}"
        safety_limits="${safety_limits}"
        safety_pos_margin="${safety_pos_margin}"
        safety_k_position="${safety_k_position}"
    />

    <!-- Right robotiq 85 -->
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
    <xacro:robotiq_85_gripper prefix="" parent="ee_link" >
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:robotiq_85_gripper>

    <!-- Astra camera -->
    <xacro:include filename="$(find turbo_description)/urdf/camera/astra.xacro"/>
    <xacro:sensor_astra name="astra" parent="camera_mount" cam_px="0.01" cam_pz="${0.052}" meshes="package://turbo_description/meshes/rgbd" />


    <link name="world" />
    <link name="frame" >
        <inertial>
        <origin rpy  ="0.0 0 0" xyz="0.0 0.0 0.0"/>
        <mass value="27.21"/>
        <inertia
            ixx="5.01" ixy="0.0" ixz="0.0"
            iyy="5.07" iyz="0.0"
            izz="3.20"/>
        </inertial>
        <collision>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
        <geometry>
            <mesh filename="package://turbo_description/meshes/UR5Frame.STL"/>
        </geometry>
        </collision>
        <visual>
        <origin rpy="0.0 0 0" xyz="0 0 0"/>
        <geometry>
            <mesh filename="package://turbo_description/meshes/UR5Frame.STL"/>
        </geometry>
        </visual>
    </link>    
    <link name="wall" >
        <inertial>
        <origin xyz="0.23 0 0.755" rpy="0 0 0" />
        <mass value="1"/>
        <inertia
            ixx="0.07" ixy="0.0" ixz="0.0"
            iyy="0.40" iyz="0.0"
            izz="0.33"/>
        </inertial>
        <visual>
        <geometry>
            <box size="2 2 0.05"/>
        </geometry>
        <material name="blue">
            <color rgba="0 0 .8 1"/>
        </material>
        </visual>
        <collision>
        <geometry>
            <box size="2 2 0.05"/>
        </geometry>
        </collision>
    </link>    
    <link name="camera_mount" />    






    <joint name="frame_to_world" type="fixed">
        <parent link="world"/>
        <child link="frame"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="wall_to_world" type="fixed">
        <parent link="world"/>
        <child link="wall"/>
        <origin xyz="0.5 1.02 1" rpy="${90*pi/180} 0 0"/>
    </joint>

    <!-- right arm -->
    <joint name="ur5_to_frame" type="fixed">
        <parent link="frame"/>
        <child link = "base_link_1"/>
        <origin xyz="0.265 0.635 1.275" rpy="${-45*pi/180} ${180*pi/180}  ${90*pi/180}"/>
    </joint>

    <!-- astra camera -->
    <joint name="camera_to_frame" type="fixed">
        <parent link="frame"/>
        <child link = "camera_mount"/>
        <origin xyz="0.54 0.54 1.45" rpy="${0} ${75*pi/180} ${-pi/2}"/>
    </joint>


    <joint name="frame_to_world" type="fixed">
        <parent link="world"/>
        <child link="frame"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <joint name="wall_to_world" type="fixed">
        <parent link="world"/>
        <child link="wall"/>
        <origin xyz="0.5 1.02 1" rpy="${90*pi/180} 0 0"/>
    </joint>

    <!-- right arm -->
    <joint name="ur5_to_frame" type="fixed">
        <parent link="frame"/>
        <child link = "base_link_1"/>
        <origin xyz="0.265 0.635 1.275" rpy="${-45*pi/180} ${180*pi/180}  ${90*pi/180}"/>
    </joint>

    <!-- astra camera -->
    <link name="camera_mount"/>
    <joint name="camera_to_frame" type="fixed">
        <parent link="frame"/>
        <child link = "camera_mount"/>
        <origin xyz="0.54 0.54 1.45" rpy="${0} ${75*pi/180} ${-pi/2}"/>
    </joint>






    <!-- <xacro:ur_robot
        prefix=""
        joint_limits_parameters_file="${joint_limits_parameters_file}"
        kinematics_parameters_file="${kinematics_parameters_file}"
        physical_parameters_file="${physical_parameters_file}"
        visual_parameters_file="${visual_parameters_file}"
        transmission_hw_interface="${transmission_hw_interface}"
        safety_limits="${safety_limits}"
        safety_pos_margin="${safety_pos_margin}"
        safety_k_position="${safety_k_position}"
    /> -->

</robot>
